//colors
$color_gray_approx: #919191;
$color_mine_shaft_approx: #232323;
$color_alto_approx: #d6d6d6;
$color_martini_approx: #979797;
$color_gallery_approx: #ececec;
$color_tide_approx: #c0bab6;
$white: #ffffff;
$color_california_approx: #ff9900;
$color_dorado_approx: #555555;

//fonts
$font_0: Georgia;
$font_1: Times New Roman;
$font_2: Times;
$font_3: serif;

//@extend-elements
//original selectors
//.imgholder, .imgl, .imgr
%extend_1 {
	padding: 4px;
	border: 1px solid $color_alto_approx;
	text-align: center;
}

//original selectors
//address, article, aside, figcaption, figure, footer, header, nav, section
%extend_2 {
	display: block;
	margin: 0;
	padding: 0;
}

//original selectors
//#header, #container, #footer, #copyright
%extend_3 {
	display: block;
	width: 960px;
	margin: 0 auto;
}

//original selectors
//h1, h2, h3, h4, h5, h6
%extend_4 {
	margin: 0;
	padding: 0;
	font-size: 32px;
	font-weight: normal;
	font-style: italic;
	line-height: normal;
}

//original selectors
//blockquote, q
%extend_5 {
	display: block;
	padding: 8px 10px;
	color: $color_martini_approx;
	background-color: $color_gallery_approx;
	font-style: italic;
	line-height: normal;
}

//original selectors
//blockquote:after, q:after
%extend_6 {
	content: ' „';
	font-size: 26px;
	line-height: 0;
}

//original selectors
//form, fieldset, legend
%extend_7 {
	margin: 0;
	padding: 0;
	border: none;
}

//original selectors
//.one_quarter, .two_quarter, .three_quarter, .four_quarter
%extend_8 {
	display: block;
	float: left;
	margin: 0 20px 0 0;
}

//original selectors
//.one_third, .two_third, .three_third
%extend_9 {
	display: block;
	float: left;
	margin: 0 30px 0 0;
}

//original selectors
//#header #hgroup h1, #header #hgroup h2
%extend_10 {
	font-weight: normal;
	font-style: normal;
	text-transform: none;
}


html {
	overflow-y: scroll;
}
body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: $font_0, $font_1, $font_2, $font_3;
	color: $color_gray_approx;
	background-color: $color_mine_shaft_approx;
}
.clear {
	display: block;
	clear: both;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		line-height: 0;
	}
}
a {
	outline: none;
	text-decoration: none;
}
code {
	font-weight: normal;
	font-style: normal;
	font-family: $font_0, $font_1, $font_2, $font_3;
}
.fl_left {
	float: left;
}
.fl_right {
	float: right;
}
img {
	margin: 0;
	padding: 0;
	border: none;
	line-height: normal;
	vertical-align: middle;
}
.imgholder {
	@extend %extend_1;
}
.imgl {
	@extend %extend_1;
	float: left;
	margin: 0 15px 15px 0;
	clear: left;
}
.imgr {
	@extend %extend_1;
	float: right;
	margin: 0 0 15px 15px;
	clear: right;
}
address {
	@extend %extend_2;
	font-style: normal;
}
article {
	@extend %extend_2;
}
aside {
	@extend %extend_2;
}
figcaption {
	@extend %extend_2;
}
figure {
	@extend %extend_2;
}
footer {
	@extend %extend_2;
}
header {
	@extend %extend_2;
}
nav {
	@extend %extend_2;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
section {
	@extend %extend_2;
}
q {
	display: block;
	padding: 0 10px 8px;
	color: $color_martini_approx;
	background-color: $color_gallery_approx;
	font-style: italic;
	line-height: normal;
	@extend %extend_5;
	&:before {
		content: '“ ';
		font-size: 26px;
		content: '“ ';
		font-size: 26px;
	}
	&:after {
		content: ' „';
		font-size: 26px;
		line-height: 0;
		@extend %extend_6;
	}
}
.row1 {
	color: $color_tide_approx;
	background-color: $color_mine_shaft_approx;
	a {
		color: $color_tide_approx;
		background-color: $color_mine_shaft_approx;
	}
}
.row2 {
	color: $color_martini_approx;
	background-color: $white;
	a {
		color: $color_california_approx;
		background-color: $white;
	}
}
.row3 {
	color: $color_martini_approx;
	background-color: $color_mine_shaft_approx;
	a {
		color: $color_california_approx;
		background-color: $color_mine_shaft_approx;
	}
}
.row4 {
	color: $color_gray_approx;
	background-color: $color_mine_shaft_approx;
	a {
		color: $color_gray_approx;
		background-color: $color_mine_shaft_approx;
	}
}
#header {
	@extend %extend_3;
	padding: 20px 0;
	#hgroup {
		float: left;
		margin: 0 0 20px 0;
		h1 {
			@extend %extend_10;
			font-size: 36px;
		}
		h2 {
			@extend %extend_10;
			font-size: 13px;
		}
	}
	nav {
		display: block;
		float: right;
		margin: 10px 0 0;
		padding: 20px 0;
		color: $color_tide_approx;
		background-color: $color_mine_shaft_approx;
		ul {
			padding: 0 20px;
		}
		li {
			display: inline;
			margin-right: 25px;
			text-transform: uppercase;
			&.last {
				margin-right: 0;
			}
			a {
				color: $color_tide_approx;
				background-color: $color_mine_shaft_approx;
				&:hover {
					color: $color_california_approx;
					background-color: $color_mine_shaft_approx;
				}
			}
		}
	}
}
#container {
	@extend %extend_3;
	padding: 30px 0;
	section {
		display: block;
		width: 100%;
		margin: 0 0 30px 0;
		padding: 0;
	}
	.last {
		margin: 0;
	}
	.more {
		text-align: right;
	}
	#slider {
	}
	#homepage {
		display: block;
		width: 100%;
		line-height: 1.8em;
		#services article figure {
			img {
				margin: 0 0 15px 0;
				padding: 4px;
				border: 1px solid $color_alto_approx;
			}
			figcaption {
			}
			h2 {
				font-size: 14px;
				font-weight: bold;
			}
			footer {
			}
		}
		#intro article figure {
			img {
				float: right;
				margin: 0 0 10px 0;
				padding: 4px;
				border: 1px solid $color_alto_approx;
			}
			figcaption {
				float: left;
				width: 460px;
			}
			h2 {
			}
			footer {
			}
		}
	}
}
#footer {
	@extend %extend_3;
	padding: 30px 0;
	font-size: 12px;
	line-height: 1.4em;
	section {
		h2.title {
			margin: 0 0 25px 0;
			padding: 0;
			color: $white;
			background-color: $color_mine_shaft_approx;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
		}
		nav li {
			margin: 0 0 5px 0;
			padding: 0 0 5px 0;
			border-bottom: 1px solid $color_dorado_approx;
			&.last {
				margin: 0;
			}
		}
	}
}
#copyright {
	@extend %extend_3;
	padding: 20px 0;
	p {
		margin: 0;
		padding: 0;
	}
}
h1 {
	@extend %extend_4;
}
h2 {
	@extend %extend_4;
}
h3 {
	@extend %extend_4;
}
h4 {
	@extend %extend_4;
}
h5 {
	@extend %extend_4;
}
h6 {
	@extend %extend_4;
}
blockquote {
	@extend %extend_5;
	&:before {
		content: '“ ';
		font-size: 26px;
	}
	&:after {
		@extend %extend_6;
	}
}
form {
	@extend %extend_7;
}
fieldset {
	@extend %extend_7;
}
legend {
	@extend %extend_7;
	display: none;
}
input {
	font-size: 12px;
	font-family: $font_0, $font_1, $font_2, $font_3;
}
textarea {
	font-size: 12px;
	font-family: $font_0, $font_1, $font_2, $font_3;
}
select {
	font-size: 12px;
	font-family: $font_0, $font_1, $font_2, $font_3;
}
.one_quarter {
	@extend %extend_8;
	width: 225px;
}
.two_quarter {
	@extend %extend_8;
	width: 470px;
}
.three_quarter {
	@extend %extend_8;
	width: 715px;
}
.four_quarter {
	@extend %extend_8;
	width: 960px;
	float: none;
	margin-right: 0;
	clear: both;
}
.one_third {
	@extend %extend_9;
	width: 300px;
}
.two_third {
	@extend %extend_9;
	width: 630px;
}
.three_third {
	@extend %extend_9;
	width: 960px;
	float: none;
	margin-right: 0;
	clear: both;
}
.lastbox {
	margin-right: 0;
}
html[xmlns] .clear {
	display: block;
}
* html .clear {
	height: 1%;
}
div.wrapper {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
}